body {
  padding: 0;
  margin: 0;
  font-family: 'PT Mono', serif;
  color: #ffffff;
}

canvas {
  display: block;
  background-color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.current-score {
  left: 20px;
}

.top-score {
  right: 20px;
}

.score {
  display: block;
  position: absolute;
  top: 15px;
  z-index: 1;
  font-size: 20px;
}

.score > span {
  color: #ffeb37;
}

.controls {
  display: block;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  font-size: 11px;
  text-align: center;
  line-height: 1.6;
}

.mobile-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.mobile-controls .dpad {
  position: relative;
  left: 15px;
  bottom: 20px;
  z-index: 1;
}

.mobile-controls .dpad .flex-row {
  width: 100%;
  text-align: center;
}

.mobile-controls .action {
  position: relative;
  right: 15px;
  bottom: 20px;
  z-index: 1;
}

.mobile-controls .dpad .icon,
.mobile-controls .action .icon {
  cursor: pointer;
  overflow: hidden;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
}

.mobile-controls .action .icon {
  width: 70px;
  height: 70px;
}

.mobile-controls .dpad .icon.up {
  background-image: url('https://cdn.fastweb.media/app/uploads/2018/06/11132745/up.png');
}
.mobile-controls .dpad .icon.right {
  background-image: url('https://cdn.fastweb.media/app/uploads/2018/06/11132744/right.png');
}
.mobile-controls .dpad .icon.down {
  background-image: url('https://cdn.fastweb.media/app/uploads/2018/06/11132743/down.png');
}
.mobile-controls .dpad .icon.left {
  background-image: url('https://cdn.fastweb.media/app/uploads/2018/06/11132744/left.png');
  margin-right: 40px;
}
.mobile-controls .action .icon.shoot {
  background-image: url('https://cdn.fastweb.media/app/uploads/2018/06/11132745/shoot.png');
}

.endgame {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  z-index: 4;
  text-align: center;
}

button {
  border: 4px solid #ffeb37;
  background-color: transparent;
  color: #ffeb37;
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  font-family: 'PT Mono', serif;
  cursor: pointer;
}

button:hover {
  background-color: #ffeb37;
  color: #000000;
}

.device-overlay {
  display: none;
}

@media (orientation: portrait) {
  .device-overlay {
    display: block;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    padding: 40px;
    text-align: center;
  }

  .device-overlay img {
    max-width: 200px;
  }
}
